!!! 5
%html
  %head
    %title RedditClone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      = render 'layouts/navbar'
      %main.mdl-layout__content
        .page-content
          = yield
      = render 'layouts/footer'
